@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tektur&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* .toast {
  visibility: hidden;
} */

/* .toast.show {
	visibility: visible;
	animation: 2s linear 1s fadeIn, 2s linear 3s fadeOut;
} */

.hidden-aos-lr {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show-aos-lr {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-aos-rl {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.show-aos-rl {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-aos-tb {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1.5s;
}

.show-aos-tb {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hidden-aos-bt {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1.5s;
}

.show-aos-bt {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

*::-webkit-scrollbar {
  display: none;
}

.blog a:link {
  color: rgb(9, 75, 216);
  text-decoration: underline;
  cursor: pointer;
}

.blog h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.blog li {
  display: list-item;
}

.blog ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.blog ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.blog p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.blog table :is(td, th) {
  border: 1px solid black;
  padding: 0.3em;
}

.blog tr:nth-child(even) {
  background-color: gray;
}

.blog tr:nth-child(odd) {
  background-color: white;
}

.blog tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.blog td {
  display: table-cell;
  vertical-align: inherit;
}

.blog blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    visibility: hidden;
  }

  to {
    bottom: 30px;
    visibility: visible;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    visibility: visible;
  }

  to {
    bottom: 0;
    visibility: hidden;
  }
}

@layer components {
  .text-stroke {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
